<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
<!-- ALt tarafa connectionStrings kısmını elle yazdık...Siz CodeFirst yönteminizde özellikle bu tarz config dosyalarını baglantı yazmayı tercih edersiniz...Daha standarttır ve multiConnection'i cok daha rahat destekleyebilir... Burası XML formatıyla yazılır kücüktür ve büyüktür sembolleri arasındaki yapılara tag(etiket) denir...Start tag ve end tag cok dikkatli yazılmalıdır. -->
  <connectionStrings>
    <add connectionString="server=.;database=MyCodeFirstAppDB;uid=sa;pwd=123" name="MyConnection" providerName="System.Data.SqlClient" />
    <!--<add connectionString="server=.;database=MyCodeFirstAppDB;uid=sa;pwd=123" name="MyConnection" providerName="System.Data.SqlClient" />
    <add connectionString="server=.;database=MyCodeFirstAppDB;uid=sa;pwd=123" name="MyConnection" providerName="System.Data.SqlClient" />
    <add connectionString="server=.;database=MyCodeFirstAppDB;uid=sa;pwd=123" name="MyConnection" providerName="System.Data.SqlClient" />
    <add connectionString="server=.;database=MyCodeFirstAppDB;uid=sa;pwd=123" name="MyConnection" providerName="System.Data.SqlClient" />-->
    

   
  </connectionStrings>
  
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
</configuration>